*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}
body {
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #d8985d;
}
.wrapper {
    padding: 30px;
    border-radius: 50px;
    background: rgba(171, 196, 221, 0.959);
    text-align: center;
    box-shadow: 10px 10px 10px rgba(9, 125, 233, 0.959);
}
.wrapper header {
    font-size: 20px;
    font-weight: 1000;
    color: #333;
}
.wrapper p {
    font-size: 20px;
    font-weight: 1000;
    color: #333;
}
.wrapper .input-field {
    display: flex;
    justify-content: center;
    gap: 15px;
    margin: 25px 0;
}
.input-field input,
.input-field button {
    height: 50px;
    width: calc(100% / 2 - 20px);
    outline: none;
    padding: 0 20px;
    border-radius: 8px;
    font-size: 18px;
}
.input-field input {
    text-align: center;
    color: #707070;
    width: 110px;
    border: 1px solid #aaa;
}
.input::-webkit-inner-spin-button,
.input::-webkit-outer-spin-button {
    display: none;
}
.input-field input:disabled{
    cursor: not-allowed;
}
.input-field button {
    border: none;
    background: #4a98f7;
    color: #fff;
    cursor: pointer;
    transition: 0.3s;
}
.input-field button:active {
    transform: scale(0.97)
}